/* ProducibleProductsPage.css ou RawMaterialPage.css */
.page-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  background-color: #f5f5f5;
  border-radius: 10px;
  overflow: hidden;
}

.styled-table th, .styled-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.styled-table th {
  background-color: #e0e0e0;
}

.styled-table tr:hover {
  background-color: #eaeaea;
}

.pagination {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}
